# Archivos que no se deben subir al repositorio
# semana_01.ipynb
# semana_02.ipynb
# semana_03.ipynb
# semana_04.ipynb
# semana_05.ipynb
# semana_06.ipynb
# semana_07.ipynb
# semana_08.ipynb

# Ejercicios
ejercicio_01.ipynb
ejercicio_02.ipynb